{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}" />
</head>
<body>
<ul class="list-group">
    {% for i in pessoas %}
    <li class="list-group-item">
        <a href="{% url 'personUpdate' i.id %}"> Nome: {{i.first_name}}, Idade: {{ i.age }}, Salario : {{ i.salary }} </a>
        <a  href="{% url 'personDelete' i.id %}">Deletar</a>
    </li>
    {% endfor %}
</ul>
<a  class="list-group-item list-group-item-action" href="{% url 'personNew' %}">Adicionar</a>

</body>
</html>